<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Foot Arch Analyzer</title>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
  <div class="navigation" id="home">
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#analyze-button">Analyze</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
  <div class='center'>
    <div class='title'>Learn more about your foot's arch</div>
    <p>
      Upload an image of your foot (taken from the side) to see if you have
      a <strong>flat</strong> arch, <strong>high</strong> arch, or <strong>normal</strong> arch.
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
<div class="Footer">
</div>

<div class="Disclaimer">
  <p><em>This product is not intended to diagnose, treat, cure, or prevent any disease.
  <em></p>
    <p id="contact">
      <a href="mailto:rdevito@tepper.cmu.edu?subject=feedback">email me</a>
    </p>
</body>
</html>
